/* reset di pagina e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
/* /reset di pagina e utility class */
.container{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
}
 header{
  background-color: yellow;
  padding: 10px;
}
 main{
  margin: 20px 0px;
}
footer{
  height: 150px;
  background-color: lightblue;
}
.boxlft{
  height: 350px;
  width: 25%;
  background-color: violet;
}
.box{
  height: 600px;
  width:calc(50% - 40px);
  background-color: purple;
  margin: 0px 20px;
}
.boxrgt{
  width: 25%;
  margin-bottom: 10px;
}
.boxrgt div:first-child{
  margin-bottom: 20px;
}
.boxrgt div:nth-child(2){
    margin-bottom: 20px;
}
.boxrgt div{
  background-color: violet;
  height: 400px;
  width: 100%;
}
.menu-container{
  width: 100%;
  height: 45px;
  background-color: blue;
}
.menu-item{
  background-color: red;
  width: 800px;
  margin: auto;
}
.menu-item li{
  height: 45px;
  padding:0px 10px;
  display: inline-block;
  font-size: 16px;
  border-right:3px black inset;
  color: #000;
  line-height: 50px;
}
.head-background{
  height: 250px;
  background-color: green;
  position: relative;
}
.central-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 400px;
  background-color: pink;
  text-align: center;
  line-height: 350px;
}
.boxlft div:first-child{
  display: inline-block;
}
.boxlft h2{
  display: inline-block;
}
li{
  list-style-type: none;
}
.credits{
  height: 40px;
  border-bottom: 3px #000 inset;
  background-color: green;
  text-align: center;
  font-style: italic;
  line-height: 50px;
}
.footlogo{
  float: left;
  width: 33%;
  height: 110px;
  background-color: red;
  margin-left: 3px;
}
