/* reset di pagina e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
/* /reset di pagina e utility class */
.container{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  background-image: url("../img/background.png");
}
/* sviluppo header,immagini e logo */
header{
  background-color: #fff;
  padding: 10px;
}
.head-background{
  height: 450px;
  background-image: url("../img/head-background.png");
  position: relative;
  background-size: cover;
  background-position: center;
}
.central-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 600px;
  background-image: url("../img/imageuno.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 400px;
  font-size: 30px;
  color: #fff;
  text-shadow: 4px 4px 10px #000;
}
/*/sviluppo header,immagini e logo */

/*sviluppo nav,menu e voci */
.menu-container{
  width: 100%;
  height: 45px;
  background-color: #666666;
}
.menu-item{
  width: 800px;
  margin: auto;
}
.menu-item li{
  height: 45px;
  padding:0px 10px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  text-shadow: text-shadow: 4px 4px 10px #000;
}
/*/sviluppo nav,menu e voci */

/*sviluppo main,blocchi e contenuti */
 main{
  margin: 20px 0px;
}
.boxlft{
  width: 20%;
  background-color: #fff;
  margin-right: 5%;
}
.box{
  width:calc(50% - 40px);
  background-color: #fff;
  margin: 0px 20px;
}
.boxrgt{
  width: 20%;
  margin-bottom: 10px;
  margin-left: 5%;
}
.boxrgt div:first-child{
  margin-bottom: 20px;
}
.boxrgt div:nth-child(2){
    margin-bottom: 20px;
}
.boxrgt div{
  background-color: #fff;
  height: 400px;
  width: 100%;
}
.boxlft div:first-child{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
.boxlft h2{
  display: inline-block;
}
li{
  list-style-type: none;
  padding: 10px;
}
h2,h1{
  color: #504741;
  padding: 10px;
}
p{
  padding: 10px;
}

a{
  color: green;
  text-decoration: none;
}
/*/sviluppo main,blocchi e contenuti */

/* sviluppo footer facbook instagram e credits */
footer{
  height: 150px;
  background-color: #fff;
}
.credits{
  height: 40px;
  width: 98%;
  margin: auto;
  border-bottom: 2px #D4D4D4 inset;
  text-align: center;
  font-style: italic;
  line-height: 50px;
  color: #D4D4D4;
}
.footlogo{
  float: left;
  width: 33%;
  height: 110px;
  background-color: red;
  margin-left: 3px;
  background-position: center;
  background-size: contain;
}
.facebook{
  background-image: url("../img/facebook-logo.jpg");
}
.instagram{
  background-image: url("../img/instagram-logo.jpg");
}
.github{
  background-image: url("../img/github-logo.jpg");
}
/* /sviluppo footer facbook instagram e credits */

/* end version,unchecked */
